<div class="">
  <!-- Header Section -->
  <div class="command-header">
    <div class="command-title-block">
      <i class="pi pi-building"></i>
      <div>
        <h2>Department Management</h2>
        <p>View & manage all departments within the organization</p>
      </div>
    </div>

    <div class="command-actions">
      <button class="btn primary btn-sm" (click)="goBack()">
        <i class="pi pi-arrow-left"></i> Back
      </button>
      <button class="btn primary btn-sm" (click)="toggleForm(true)">
        <i class="pi pi-plus"></i> Add Department
      </button>

      <button class="btn outlined btn-sm">
        <i class="pi pi-upload"></i> Bulk Upload
      </button>

      <div class="menu-group">
        <p-tieredMenu #exportMenu [model]="exportOptions" popup appendTo="body"></p-tieredMenu>
        <button class="btn outlined btn-sm" (click)="exportMenu.toggle($event)">
          <i class="pi pi-file-export"></i> Export
        </button>
      </div>
    </div>
  </div>


  <app-toast></app-toast>
  <app-paginated-table [data]="departments" [columns]="cols" [showEndActions]="true" [showViewAction]="false"
    (editEvent)="editDeptDetails($event)" (deleteEvent)="deleteDeptDetails($event)"></app-paginated-table>

    <!-- Bulk Upload Popup -->
  <!-- <p-dialog header="Bulk Upload Departments" [(visible)]="isBulkUploadPopup" [style]="{ width: '500px' }">
    <p-fileUpload
      name="bulkFile"
      url="api/upload-departments"
      accept=".xlsx,.csv"
      maxFileSize="1000000"
      (onUpload)="handleBulkUpload($event)"
      [auto]="true"
      chooseLabel="Select File"
      uploadLabel="Upload"
    ></p-fileUpload>
  </p-dialog> -->
</div>
<!-- Delete Confirmation Modal -->
<app-delete-confirmation-modal
  [visible]="showDeleteDialog"
  [message]="'Are you sure you want to delete ' + selectedDept.name + '?'"
  (onConfirm)="confirmDeletion()"
  (onCancel)="cancelDeletion()">
</app-delete-confirmation-modal>

<!-- Add Form -->
<app-add-form *ngIf="isFormOpen" [open]="isFormOpen" [formConfig]="formConfigForNewDetails" [formData]="newDepartment"
[fromTitle]="title" (onOpenChange)="isFormOpen = $event" (onSubmit)="handleSubmit($event)"></app-add-form>

<!-- Edit Form -->
<app-add-form *ngIf="isEditFormOpen" [open]="isEditFormOpen" [formConfig]="formConfigForNewDetails"
[formData]="selectedDept" [fromTitle]="editTitle" [isEditMode]="true" (onOpenChange)="isEditFormOpen = $event"
(onSubmit)="handleEditSubmit($event)"></app-add-form>

