.card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 16px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-content {
  padding: 16px;
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
}
