<div class="">
  <div class="command-header">
    <div class="command-title-block">
      <i class="pi pi-box"></i>
      <div>
        <h2>Generic Management</h2>
        <p>View & manage generic equipment specifications across the naval fleet</p>
      </div>
    </div>

    <div class="command-actions">
      <button class="btn primary btn-sm" (click)="goBack()">
        <i class="pi pi-arrow-left"></i> Back
      </button>
      <button class="btn primary btn-sm" (click)="toggleForm(true)">
        <i class="pi pi-plus"></i> Add Generic
      </button>

      <button class="btn outlined btn-sm">
        <i class="pi pi-upload"></i> Bulk Upload
      </button>

      <div class="menu-group">
        <p-tieredMenu #exportMenu [model]="exportOptions" popup appendTo="body"></p-tieredMenu>
        <button class="btn outlined btn-sm" (click)="exportMenu.toggle($event)">
          <i class="pi pi-file-export"></i> Export
        </button>
      </div>
    </div>
  </div>


  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  
  <app-paginated-table
    *ngIf="!isLoading"
    [columns]="cols"
    [apiUrl]="apiUrl"
    [totalCount]="totalCount"
     
    [showEndActions]="true"
    (viewEvent)="viewDeptDetails($event)"
    (editEvent)="editDetails($event, true)"
    (deleteEvent)="deleteDeptDetails($event)"
    (dataLoaded)="onDataLoaded($event)"
  ></app-paginated-table>



  <!-- Delete Confirmation Modal -->
  <app-delete-confirmation-modal
    [visible]="showDeleteDialog"
    [message]="'Are you sure you want to delete ' + (selectedDept?.code || 'this generic') + '?'"
    (onConfirm)="confirmDeletion()"
    (onCancel)="cancelDeletion()">
  </app-delete-confirmation-modal>

  <app-toast></app-toast>
</div>

<!-- View Details Component -->
 <app-view-details
  *ngIf="viewdisplayModal"
  [open]="viewdisplayModal"
  [viewDetails]="selectedDept"
  [headers]="formConfigForNewDetails"
  (onOpenChange)="viewdisplayModal = $event"
  [title]="'View Generic Details'"
></app-view-details>

<app-add-form
*ngIf="isFormOpen"
[isSingleColumn]="true"
[open]="isFormOpen"
[formConfig]="formConfigForNewDetails"
[formData]="newDepartment"
[fromTitle]="title"
(onOpenChange)="isFormOpen = $event"
(onSubmit)="handleSubmit($event)"
></app-add-form>

<app-add-form
*ngIf="isEditFormOpen"
[isSingleColumn]="true"
[open]="isEditFormOpen"
[formConfig]="formConfigForNewDetails"
[formData]="selectedDept"
[fromTitle]="editTitle"
[isEditMode]="true"
(onOpenChange)="isEditFormOpen = $event"
(onSubmit)="handleEditSubmit($event)"
></app-add-form>